main{
    background-color: aquamarine;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    margin: auto;
    padding: 20px; 
   box-sizing: border-box;

}
h1{
    text-align: center;
}
