/* Estilização geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}
.flex {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    gap: 60px;
}


a:hover {
    opacity: 0.7;
}



.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #929292;
    height: 8vh;
}

.main {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 10px;
    background: url("2232.jpg") no-repeat center center;
    
    background-size: cover;
    position: relative;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 70px;
}

.menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 999px) {
    .nav-list {
        padding: 1.5rem 4rem;
    }

    .item {
        display: none;
    }

    .loginRegistro {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .menu-icon {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .menu-icon button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

section.topo-do-site {
    padding: 0 4%;
    margin-top: 0;
}

.texto {
    flex: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 30%;
    max-width: 600px;
    
}

.img {
    flex: 1;
   justify-content: center;
    margin-left: 35%;
}

.img img {
    max-width: 40%;
    height: auto;
}

.centralizado {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 90px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

button {
    background-color: #646464;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    transition: .3s;
    
}

button:hover {
    background-color: #000000;
    box-shadow: 0px 0px 10px #000000;
    transform: scale(1.05);
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

.topo-do-site .img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

section.especialidades {
    background-color: #adadad;
    padding: 40px;
    margin-top: 1px;
}

section.especialidades a {
    color: #000000;
}

h2.titulo {
    color: #000000;
    font-size: 34px;
    text-align: center;
    margin-top: 100px;
}

.grid-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-box {
    background-color: #fff;
    color: #000000;
    padding: 40px;
    margin-top: 100px;
    border-radius: 20px;
    transition: .2s;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 8px #00000080;
}

.grid-box:hover {
    transform: scale(1.05);
}

.grid-box i {
    font-size: 70px;
}

.grid-box h3 {
    font-size: 26px;
    margin: 15px 0;
}

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .img-sobre img {
    max-width: 90%;
    height: auto;
    max-height: 800px;
    margin-top: 400px;
}

.sobre .flex {
    align-items: center;
    justify-content: space-around;
}

.sobre .img-sobre {
    flex: 1;
    text-align: center;
}

.sobre .txt-sobre {
    flex: 1;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 300px;
    margin-bottom: 30px;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    background-color: #929292;
    padding: 40px 4%;
    color: #fafafa;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px 0;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fafafa;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    opacity: 0.7;
}

.footer-section p {
    margin-bottom: 10px;
}

.social-list {
    display: flex;
    gap: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }

    .grid-container {
        flex-direction: column;
        align-items: center;
    }

    .img {
        margin-top: 20px;
        margin-left: 50rem;
        align-items: center;
    }

    .sobre .img-sobre img {
        margin-top: 20px;
    }

    .sobre .txt-sobre h2 {
        margin-top: 20px;
    }
}
section.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 0 4%;
}

.form-container .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #bbb5b5;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
}

form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Aumentei o espaçamento entre os elementos do formulário */
    width: 100%;
  
}

form h1 {
    text-align: center;
    margin-bottom: 20px; /* Adicionei um espaço após o título */
}

form input,
form textarea {
    width: 100%;
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 18px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
 
}
form .btn-enviar input {
    cursor: pointer;
}

.confirmation-message {
    display: none;
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.historico-container {
    padding: 40px 0;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilos dos tickets individuais */
.ticket {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.ticket h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ticket p {
    font-size: 18px;
    margin-bottom: 5px;
}
#filtroNome {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container2 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 200px;
    
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#message {
    margin-top: 10px;
    color: #007bff;
}

.loginRegistro {
    display: flex;
    gap: 10px;
}

#logoutButton {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#logoutButton:hover {
    background-color: #cc0000;
}

.confirmation-message {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}