body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 100px;
    vertical-align: middle;
    margin-right: 10px;
    
}

header h1 {
    display: inline;
    vertical-align: middle;
    margin: 0;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 300px;
}

.foto-perfil {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#vitrine {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Adicionado para alinhar todos os elementos */
    overflow-x: auto; 
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
}

td img {
    max-width: 120px;
    height: auto;
}

select, input[type="number"], button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #02f13e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.alert {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}
.btn-adicionar,
.btn-ver-carrinho {
    display: inline-block;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-adicionar {
    background-color: #4CAF50; /* Verde */
    color: white;
}

.btn-ver-carrinho {
    background-color: #008CBA; /* Azul */
    color: white;
}
